body {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    height:100vh;
}

#pageContainer {
    width:100%;
    display: flex;
    align-items:center;
    flex-direction: column;
}

#container {
    max-width:20rem;
    display: flex;
    align-items:center;
    flex-direction: column;
    margin-top:1rem;
}
#container div {
    font-size: 4rem;
}
#container #scrolldiv ul {
    font-size: 1.2rem;

    overflow-y: scroll;
    width: 100%;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#pageContainer #header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 2rem;
}

dialog {
    flex-direction: column;
}
dialog article {
    align-items: center;
    text-align: center;
}

ul li {
    align-self: flex-end;
}
#container #scrolldiv {
    max-height: 9rem;
    height: 9rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#container ul::-webkit-scrollbar {
    display: none;
}
#container ul li {
    /* font-size: 1rem; */
    list-style-type: none;
    /* text-decoration: none; */
}
#container ul li span {
    color:lightgray;
}

#container input {
    font-size: 1.5rem;
    width: 7rem;
}

#messages {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 3rem;
    color: green;
}

.animate {
    opacity: 1;

    animation: fade-left .5s forwards;

}

@keyframes fade-left {
      0% {
        left: 50%;
        top: 50%;
        opacity: 1;
      }
      90% {
        top: 0;
        left: 0;
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
}